In [2]:
import sqlglot
from sqlglot import exp

import fakesnow.transforms as transforms

In [76]:
sqlglot.parse_one("""
            select t.id, flat.value:fruit from
            (
                select 1, parse_json('[{"fruit":"banana"}]')
                union
                select 2, parse_json('[{"fruit":"coconut"}, {"fruit":"durian"}]')
            ) as t(id, fruits), lateral flatten(input => t.fruits)
            """, read="snowflake").sql(dialect="duckdb")

'SELECT t.id, flat.value[\'fruit\'] FROM (SELECT 1, JSON(\'[{"fruit":"banana"}]\') UNION SELECT 2, JSON(\'[{"fruit":"coconut"}, {"fruit":"durian"}]\')) AS t(id, fruits), LATERAL UNNEST(input => t.fruits) AS _flattened(SEQ, KEY, PATH, INDEX, VALUE, THIS)'